.login-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/bg.webp);
  background-size: cover;
}

.login-page h1 {
  color: #333;
}

.login-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 0 32px;
}