.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: #fff;
}

.header .content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
  height: 60px;
  padding: 10px 0;
}

.header .content .logo {
  /* height: 100%; */
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.header .content .search-wrap {
  position: relative;
}

.header .content .music-list {
  position: absolute;
  bottom: -16px;
  left: 0;
  transform: translateY(100%);
  padding: 16px;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.header .content .music-list p {
  display: flex;
  align-items: center;
  padding: 8px 0;
  cursor: pointer;
  color: #0099ff;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
  padding: 32px;
  z-index: 9;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.dialog>* {
  margin: 8px 0 0;
}

.dialog label {
  display: inline-block;
  width: 100px;
}

.action span {
  cursor: pointer;
  color: #0099ff;
  margin-left: 16px;
}